<section id="donate" class="donate" aria-labelledby="donate-heading" [publicScrollReveal]="'up'">
  <div class="donate__inner">
    <h2 id="donate-heading" class="donate__title">{{ 'public.landing.donate.heading' | translate }}</h2>
    <div class="donate__grid">
      <a class="donate__cell" *ngFor="let c of categories" href="#cta">
        <div class="donate__thumb">
          <img
            [src]="c.imageSrc"
            [attr.alt]="c.altKey | translate"
            class="donate__img"
            loading="lazy"
            decoding="async"
          />
        </div>
        <p class="donate__label">{{ c.labelKey | translate }}</p>
      </a>
    </div>
  </div>
</section>
