<ng-container *ngIf="fileSystemId > 0; else osfsFileSystemPicker">
  <div class="osfs-page-explorer card p-4">
    <div class="osfs-page-explorer__toolbar flex align-items-center gap-2 mb-3 flex-wrap">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-arrow-left"
        [label]="'fileSystem.osfs.backToFileSystems' | translate"
        [routerLink]="['/document-control', 'storage-content-management', 'osfs']"
        class="p-button-outlined">
      </button>
    </div>
    <app-folder-management [fileSystemId]="fileSystemId"></app-folder-management>
  </div>
</ng-container>
<ng-template #osfsFileSystemPicker>
<div class="osfs-page card p-0 overflow-hidden">
  <div class="osfs-page__chrome border-bottom-1 surface-border">
    <div class="osfs-page__top flex flex-column gap-3 p-4">
      <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between gap-3">
        <div class="osfs-page__header flex-1 min-w-0">
          <h1 class="osfs-page__title">{{ 'fileSystem.osfs.viewTitle' | translate }}</h1>
          <p class="osfs-page__subtitle">{{ 'fileSystem.osfs.cardsSubtitle' | translate }}</p>
        </div>
        <div class="flex-shrink-0 align-self-stretch md:align-self-start">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-arrow-left"
            [label]="'fileSystem.backToHome' | translate"
            [routerLink]="['/document-control', 'storage-content-management']"
            class="p-button-outlined p-button-sm w-full md:w-auto">
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="osfs-library">
    <ng-container *ngIf="loadingList && fileSystems.length === 0; else osfsCardsLoaded">
      <div class="osfs-library__grid" role="status" [attr.aria-label]="'fileSystem.osfs.loading' | translate">
        <div *ngFor="let _ of cardSkeletonIndices" class="osfs-tile osfs-tile--skeleton">
          <div class="osfs-tile__thumb">
            <div class="osfs-tile__icon-wrap osfs-tile__icon-wrap--skeleton">
              <div class="osfs-tile__folder-img-skeleton" aria-hidden="true">
                <p-skeleton width="5.25rem" height="4.5rem" borderRadius="10px 10px 6px 6px"></p-skeleton>
              </div>
            </div>
          </div>
          <div class="osfs-tile__caption osfs-tile__caption--skeleton">
            <div class="osfs-tile__title-row">
              <div class="osfs-tile__name--skeleton" aria-hidden="true">
                <p-skeleton width="100%" height="2.19375rem" borderRadius="4px"></p-skeleton>
              </div>
              <div class="osfs-tile__permission-skeleton" aria-hidden="true">
                <p-skeleton width="4.25rem" height="1.35rem" borderRadius="6px"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #osfsCardsLoaded>
      <div *ngIf="!loadingList && fileSystems.length === 0" class="osfs-empty flex flex-column align-items-center justify-content-center p-6 gap-3">
        <div class="osfs-empty__illustration">
          <img class="osfs-empty__folder-img" src="assets/images/PC_Folder_Icon.png" alt="" />
        </div>
        <p class="osfs-empty__text m-0 text-center">{{ 'fileSystem.osfs.empty' | translate }}</p>
      </div>
      <div *ngIf="fileSystems.length > 0" class="osfs-library__grid">
        <div
          *ngFor="let fs of fileSystems"
          class="osfs-tile"
          role="button"
          tabindex="0"
          [attr.aria-label]="('fileSystem.osfs.openCard' | translate) + ': ' + fs.name"
          (click)="openFileSystem(fs)"
          (keydown.enter)="openFileSystem(fs)"
          (keydown.space)="$event.preventDefault(); openFileSystem(fs)">
          <div class="osfs-tile__thumb">
            <div class="osfs-tile__icon-wrap">
              <img class="osfs-tile__folder-img" src="assets/images/PC_Folder_Icon.png" alt="" />
            </div>
          </div>
          <div class="osfs-tile__caption">
            <div class="osfs-tile__title-row">
              <span class="osfs-tile__name" [pTooltip]="fs.name">{{ fs.name }}</span>
              <p-tag
                [value]="getAccessRightLabel(fileSystemCardAccessRight(fs))"
                [severity]="getAccessRightSeverity(fileSystemCardAccessRight(fs))"
                styleClass="osfs-tile__tag">
              </p-tag>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
</ng-template>
