<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '480px' }" [draggable]="false" [resizable]="false"
  (onHide)="closeDialog()">
  <ng-template pTemplate="header">
    <h3 class="m-0">{{ 'donations.breakdown.rejectDialog.title' | translate }}</h3>
  </ng-template>

  <div class="flex flex-column gap-2">
    <p class="mb-0 text-500">{{ 'donations.breakdown.rejectDialog.message' | translate }}</p>
    <label class="font-medium">{{ 'donations.breakdown.rejectDialog.rejectionNote' | translate }}</label>
    <textarea pInputTextarea rows="4" class="w-full" [(ngModel)]="rejectionNote"
      [placeholder]="'donations.breakdown.rejectDialog.rejectionNotePlaceholder' | translate"
      [disabled]="!!(isLoading$ | async)"></textarea>
  </div>

  <ng-template pTemplate="footer">
    <p-button [label]="'common.cancel' | translate" icon="pi pi-times" severity="secondary" [outlined]="true"
      (onClick)="closeDialog()" [disabled]="!!(isLoading$ | async)"></p-button>
    <p-button [label]="'donations.breakdown.actions.reject' | translate" icon="pi pi-times" severity="danger"
      (onClick)="confirmReject()" [disabled]="!!(isLoading$ | async)"></p-button>
  </ng-template>
</p-dialog>
