<section
  #sectionRoot
  id="how-it-works"
  class="process"
  [class.process--revealed]="revealed"
  aria-labelledby="process-heading"
>
  <div class="process__inner">
    <h2
      id="process-heading"
      class="process__title"
      [class.process__title--in]="revealed"
    >
      {{ 'public.landing.process.heading' | translate }}
    </h2>
    <div class="process__wrap">
      <div class="process__line" aria-hidden="true"></div>
      <ol class="process__grid">
        <li
          *ngFor="let step of steps; let i = index"
          class="process__step"
          [class.process__step--in]="revealed"
          [style.animation-delay.ms]="staggerMs(i)"
        >
          <div class="process__num" [class.process__num--accent]="step.highlight">
            {{ step.number }}
          </div>
          <p class="process__step-title">{{ step.titleKey | translate }}</p>
          <p class="process__step-sub">{{ step.subtitleKey | translate }}</p>
        </li>
      </ol>
    </div>
  </div>
</section>
