<div class="dcs-view card">

    <div class="dcs-top flex flex-col gap-3">
        <a routerLink="/document-control/storage-content-management" class="back-link">
            <i class="pi pi-arrow-left"></i>
            <span>{{ 'fileSystem.backToStorageContent' | translate }}</span>
        </a>
        <div class="page-header">
            <h1 class="page-title">{{ 'fileSystem.landing.dcs' | translate }}</h1>
            <p class="page-subtitle">{{ 'fileSystem.dcs.subtitle' | translate }}</p>
        </div>
    </div>
    <div class="content-card p-4 mt-4">
        <p class="text-500">{{ 'fileSystem.dcs.placeholder' | translate }}</p>
    </div>
</div>