<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '480px' }" [draggable]="false" [resizable]="false"
  (onHide)="closeDialog()">
  <ng-template pTemplate="header">
    <h3 class="m-0">{{ 'donations.adminClose.dialog.title' | translate }}</h3>
  </ng-template>

  <p class="mb-0 text-500">{{ 'donations.adminClose.dialog.warning' | translate }}</p>

  <ng-template pTemplate="footer">
    <p-button [label]="'common.cancel' | translate" icon="pi pi-times" severity="secondary" [outlined]="true"
      (onClick)="closeDialog()" [disabled]="!!(isLoading$ | async)"></p-button>
    <p-button [label]="'donations.adminClose.actions.confirmClose' | translate" icon="pi pi-lock"
      severity="danger" (onClick)="confirm()" [disabled]="!!(isLoading$ | async)"></p-button>
  </ng-template>
</p-dialog>
