<div class="upload-field">
  <label class="register-field__label">{{ labelKey | translate }}</label>

  <ng-container *ngIf="variant === 'dropzone'; else inlineUpload">
    <div
      class="upload-field__dropzone"
      [class.upload-field__dropzone--invalid]="control.touched && control.invalid"
      (click)="onBrowseClick(fileInput)"
      (keydown.enter)="onBrowseClick(fileInput)"
      tabindex="0"
      role="button"
    >
      <span class="material-symbols-outlined upload-field__icon">cloud_upload</span>
      <span class="upload-field__title">{{ 'public.register.upload.clickOrDrop' | translate }}</span>
      <span class="upload-field__hint" *ngIf="hintKey">{{ hintKey | translate }}</span>
      <span class="upload-field__file" *ngIf="fileName">{{ fileName }}</span>
    </div>
  </ng-container>

  <ng-template #inlineUpload>
    <div class="upload-field__inline" [class.upload-field__inline--invalid]="control.touched && control.invalid">
      <span class="upload-field__file upload-field__file--muted">
        {{ fileName || ('public.register.upload.noFile' | translate) }}
      </span>
      <button type="button" class="upload-field__browse" (click)="onBrowseClick(fileInput)">
        {{ 'public.register.upload.browse' | translate }}
      </button>
    </div>
  </ng-template>

  <input
    #fileInput
    type="file"
    class="upload-field__input"
    [accept]="accept"
    (change)="onFileChange($event)"
  />

  <small class="register-field__error" *ngIf="control.touched && control.errors?.['requiredFile']">
    {{ 'public.register.validation.fileRequired' | translate }}
  </small>
</div>
