.layout-menu-light {
    --menu-bg: #ffffff;
    --root-menuitem-text-color: #5c5c72;
    --menuitem-text-color: #1e1e2f;
    --menuitem-hover-bg: rgba(90, 12, 168, 0.06);
    --active-menuitem-text-color: var(--primary-500);
    --active-menuitem-bg: var(--primary-50);
    --inline-menu-border-color: #e4e4e4;
}