<div *ngIf="erpVariables">
  <div class="variables-container">
    <!-- Header Section -->
    <div class="variables-header">
      <h4>ERP Variables</h4>
    </div>
    <app-erp-info severity="info" description="Some text to describe the ERP Variables"></app-erp-info>
    <div class="variable-grid">
      <div *ngFor="let variable of erpVariables" class="variable-item" (click)="copyVariable(variable.value)">
        <div class="variable-name">
          <span>{{ variable.name }}</span>
          <i class="fa fa-copy copy-icon" title="Copy variable"></i>
        </div>
        <div class="variable-description">
          {{ variable?.description }}
        </div>
      </div>
    </div>
  </div>
</div>