<p-toast />
<div class="block-section card">
  <div class="flex flex-column gap-2 mb-3">
    <h2 class="block-title mb-0">{{ 'donations.browse.title' | translate }}</h2>
    <p class="mb-0 text-500">{{ 'donations.browse.subtitle' | translate }}</p>
  </div>

  <div class="block-card">
    <p-table
      [value]="tableValue"
      [paginator]="true"
      [lazy]="true"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="'donations.browse.pagination' | translate"
      responsiveLayout="scroll"
      styleClass="p-datatable-sm"
      (onLazyLoad)="onPageChange($event)"
    >
      <ng-template pTemplate="caption">
        <app-donation-browse-filters
          [loading]="tableLoadingSpinner"
          [initialLoading]="initialLoading"
          [typeOptions]="typeOptions"
          [categoryOptions]="categoryOptions"
          [countryOptions]="countryOptions"
          [sortOptions]="sortOptions"
          [filters]="filters"
          (filtersApply)="onFiltersApply($event)"
          (filtersReset)="onFiltersReset()"
          (typeChange)="onCategoryOptionsTypeChange($event)"
        ></app-donation-browse-filters>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 14rem">{{ 'donations.shared.columns.title' | translate }}</th>
          <th style="width: 10rem">{{ 'donations.browse.columns.category' | translate }}</th>
          <th class="text-center" style="width: 8rem">{{ 'donations.browse.columns.quantity' | translate }}</th>
          <th class="text-center" style="width: 10rem">{{ 'donations.shared.columns.estimatedCost' | translate }}</th>
          <th style="width: 11rem">{{ 'donations.browse.columns.location' | translate }}</th>
          <th class="text-center" style="width: 9rem">{{ 'donations.browse.columns.needsInstallation' | translate }}</th>
          <th class="text-center" style="width: 8rem">{{ 'donations.browse.columns.actions' | translate }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr
          class="browse-row-clickable"
          [style.cursor]="tableLoadingSpinner ? 'default' : 'pointer'"
          (click)="!tableLoadingSpinner && viewRequest(row)"
        >
          <td>
            <ng-container *ngIf="tableLoadingSpinner; else titleCell">
              <p-skeleton height="1.25rem" width="10rem"></p-skeleton>
            </ng-container>
            <ng-template #titleCell>
              <span class="font-semibold text-overflow-ellipsis" [pTooltip]="getTitle(row)">{{ getTitle(row) }}</span>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="tableLoadingSpinner; else categoryCell">
              <p-skeleton height="1.25rem" width="7rem"></p-skeleton>
            </ng-container>
            <ng-template #categoryCell>
              <span class="text-overflow-ellipsis" [pTooltip]="getCategoryLabel(row)">{{ getCategoryLabel(row) }}</span>
            </ng-template>
          </td>
          <td class="text-center">
            <ng-container *ngIf="tableLoadingSpinner; else quantityCell">
              <p-skeleton height="1.25rem" width="5rem"></p-skeleton>
            </ng-container>
            <ng-template #quantityCell>
              <span>{{ getQuantityLabel(row) }}</span>
            </ng-template>
          </td>
          <td class="text-center">
            <ng-container *ngIf="tableLoadingSpinner; else costCell">
              <p-skeleton height="1.25rem" width="6rem"></p-skeleton>
            </ng-container>
            <ng-template #costCell>
              <span>{{ formatEstimatedCost(row) }}</span>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="tableLoadingSpinner; else locationCell">
              <p-skeleton height="1.25rem" width="8rem"></p-skeleton>
            </ng-container>
            <ng-template #locationCell>
              <span class="text-overflow-ellipsis" [pTooltip]="getLocationLabel(row)">{{ getLocationLabel(row) }}</span>
            </ng-template>
          </td>
          <td class="text-center">
            <ng-container *ngIf="tableLoadingSpinner; else needsInstallationCell">
              <p-skeleton height="1.25rem" width="4rem"></p-skeleton>
            </ng-container>
            <ng-template #needsInstallationCell>
              <span>{{ getNeedsInstallationLabel(row) }}</span>
            </ng-template>
          </td>
          <td class="text-center">
            <ng-container *ngIf="tableLoadingSpinner; else actionsCell">
              <div class="flex justify-content-center">
                <p-skeleton height="2rem" width="2rem" borderRadius="50%"></p-skeleton>
              </div>
            </ng-container>
            <ng-template #actionsCell>
              <p-button
                icon="pi pi-eye"
                [rounded]="true"
                [text]="true"
                [pTooltip]="'donations.browse.columns.viewDetails' | translate"
                (onClick)="viewRequest(row, $event)"
              ></p-button>
            </ng-template>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center py-4">{{ 'donations.browse.empty' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
