<div class="auth-brand-wrap" [class.auth-brand-wrap--rtl]="isRtl">
    <a class="auth-brand__back-home" routerLink="/">
        <i class="pi" [ngClass]="isRtl ? 'pi-arrow-right' : 'pi-arrow-left'" aria-hidden="true"></i>
        <span>{{ 'auth.common.backToHome' | translate }}</span>
    </a>
    <div class="auth-brand" [class.auth-brand--rtl]="isRtl">
        <img class="auth-brand__logo" src="assets/media/logo/Slogan.png" [attr.alt]="'auth.login.logoAlt' | translate"
            width="200" height="200" />
        <div class="auth-brand__text">
            <span class="auth-brand__name">{{ 'branding.displayName' | translate }}</span>
            <span class="auth-brand__tagline">{{ 'auth.login.brandTagline' | translate }}</span>
        </div>
    </div>
</div>
