<div class="donation-workflow-timeline">
  <h3 class="block-title mb-3">{{ 'donations.facility.requests.details.workflowTitle' | translate }}</h3>

  <ng-container *ngIf="loading; else timelineContent">
    <div class="flex flex-column gap-3">
      <p-skeleton height="3.5rem" width="100%" borderRadius="8px"></p-skeleton>
      <p-skeleton height="3.5rem" width="100%" borderRadius="8px"></p-skeleton>
      <p-skeleton height="3.5rem" width="80%" borderRadius="8px"></p-skeleton>
    </div>
  </ng-container>

  <ng-template #timelineContent>
    <ng-container *ngIf="items.length > 0; else emptyWorkflow">
      <ul class="donation-workflow-timeline__list">
        <li *ngFor="let item of items; let last = last" class="donation-workflow-timeline__item" [class.donation-workflow-timeline__item--last]="last">
          <div class="donation-workflow-timeline__marker"></div>
          <div class="donation-workflow-timeline__content">
            <div class="font-semibold">{{ item.statusName || ('donations.facility.requests.details.unknownStatus' | translate) }}</div>
            <div class="text-500 text-sm" dir="ltr" *ngIf="item.changedAt">{{ item.changedAt | date:'yyyy-MM-dd hh:mm a' }}</div>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #emptyWorkflow>
      <p class="text-500 mb-0">{{ 'donations.facility.requests.details.workflowEmpty' | translate }}</p>
    </ng-template>
  </ng-template>
</div>
